<div class="container my-2">
    <%= simple_form_for [@toilet, @booking] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class="form-card  text-center">
        <div class="form-inputs ">
          <p>Current time: <%= Time.now.strftime("%I:%M %p") %></p>
          <%= f.input :duration, :collection => %w[5 10 15 20 25 30 35 40 45] %>
          <div class="form-actions">
            <div class="row text-center">
            <%= f.button :submit, class: 'devise_form_submit green' %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
