
<div class="container">
<<<<<<< HEAD
  <div class="booking_header">
    <h1>Locations Conquered</h1>
  </div>
  <div class='montana index-card-trip col-default-6'>
    <%= image_tag 'scarface-loo.jpg' %>
  </div>
</div>


<div class="scrolling-wrapper">
  <div class="card card-booking-infos">
      <% @bookings.each do |booking|%>
          <% if booking.toilet.photo.attached? %>
            <%= cl_image_tag booking.toilet.photo.key %>
          <% elsif booking.toilet.image_path.present? %>
            <%= image_tag booking.toilet.image_path %>
          <% else %>
            <%= image_tag "mystery_toilet.svg", class: "mystery-toilet"%>
          <% end %>
        <% end %>
  </div>
=======
  <h1>Recent Bookings</h1>
    <ul><% current_user.bookings.each do |booking| %></ul>
      <%= link_to toilet_path(booking.toilet) do %>
      <div class="card-trip d-flex">
        <%= image_tag booking.toilet.image_path %>
        <div>
          <%= booking.toilet.location %>
          <%= booking.duration %>
        </div>
      </div>
        <% end %>
    <% end %>
>>>>>>> master
</div>
