<div class= "footer d-flex justify-content-center">
  <% if user_signed_in? %>
    <%= link_to 'Back to Toilets', toilets_path, class: "footer_button" %>
    <%= link_to 'List a Toilet', new_toilet_path, class: "footer_button" %>
    <%= link_to 'Owner Profile', user_path(current_user), class: "footer_button" %>
  <% else %>
    <%= link_to 'Back to Toilets', new_user_session_path, class: "footer_button" %>
    <%= link_to 'List a Toilet', new_user_session_path, class: "footer_button" %>
    <%= link_to 'Owner Profile', new_user_session_path, class: "footer_button" %>
  <% end %>
</div>
